<div class="col-xs-12">
				
	<div class="jumbotton text-center" >
		<h1> Add Item Below </h1>
	</div>
	
	<form name="groceryForm" >
		
		<p><b> Dirty : </b> {{groceryForm.$dirty}} </p>
		<p><b> Pristine : </b> {{groceryForm.$dirty}} </p>
		<p><b> Valid : </b> {{groceryForm.$valid}} </p>
		
		<!-- Adding the alert box --> 
		<div class="alert alert-danger" role="alert" ng-shadow="groceryForm.$dirty && !groceryForm.$valid" >
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"> </span>
			<span class="sr-only"> Error: </span>
			Enter a valid grocery item!
		</div>
	
		<div class="formGroup" >
			<!-- Adding the Regular Expression to the textField -->
			<input type="text" ng-pattern="/^[a-zA-Z\s]*$/" class="form-control" placeholder="Grocery Item" ng-model="groceryItem.itemName" required />
		</div>
		
		<div class="formGroup" >
			<!-- Can only save if the groceryForm is valid by using "groceryForm.$valid" -->
			<button type="button" class="btn btn-primary btn-lg btn-block" ng-click="groceryForm.$valid && save()"> 
				<span class="glyphicon glyphicon-pushpin"> </span>
				Save 
			</button>
		</div>
		
		<div class="formGroup" >
			<a href="#!/" style="margin-bottom:10px;" class="btn btn-default btn-lg btn-block"> 
				<span class="glyphicon glyphicon-remove"> </span>
				Cancel 
			</a>
		</div>
	</form><!-- End form -->
	
	<!-- Outputing the parametes --> 
	{{rp}}
	
</div> <!-- End col -->