<div class="col-xs-12">

	<a href="#!/addItem" style="margin-bottom:10px;" class="btn btn-primary btn-lg btn-block" > 
		<span class="glyphicon glyphicon-plus"> </span>
		Add Groccery Item 
	</a>
	
	<ul class="list-group ">
		<!-- 
			Using "ng-repeat" to loop the items which can be ordered. 
			orderBy: '-date': order with Ascending order by adding 'negative sign (-)'
		-->
		<li ng-repeat="item in groceryItems | orderBy: '-date'" class="list-group-item text-center clearfix ">
			
			<!-- 
				Adding the Custom Directive  
				<grocery-item-directive></grocery-item-directive>
			-->
			<!-- The code below is replace with the "Custom Directive"  from "views/groceryItem.html" file --> 
			<button type="button" class="btn btn-sm btn-success pull-left" style="margin-right: 10px;" ng-click="markCompleted(item)">
				<span class="glyphicon" ng-class="item.completed ? 'glyphicon-check' : 'glyphicon-unchecked'" > </span>
			</button>
			
			<span ng-class="{strike:item.completed}" style="font-weight: bold;"> {{item.itemName | uppercase }} </span>
			
			<button type="button" class="btn btn-sm btn-danger pull-right" style="margin-left: 10px;" ng-click="removeItem(item)">
				<span class="glyphicon glyphicon-trash"> </span>
			</button>
			
			<a href="#!/addItem/edit/{{item.id}}" class="btn btn-sm btn-default pull-right">
				<span class="glyphicon glyphicon-pencil"> </span>
			</a>
			
		</li> <!-- End Item -->
	</ul> <!-- End un-ordered list -->
</div> <!-- End col -->